<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="baselink_to_base_laser" args="0 0 0 0 0 0 base_footprint base_link"/>
  <node pkg="ut_multirobot_sim" type="run.sh" name="ut_multi_sim" output="screen"/>
  <node pkg="graph_navigation" type="model.py" name="bc_model" output="screen"/>
  <node pkg="graph_navigation" type="run.sh" name="graphnav" output="screen" />
  <!-- <node pkg="graph_navigation" type="navigation" name="graphnav" output="screen" launch-prefix="gdb -ex run args"/> -->
  <node pkg="graph_navigation" type="give_goal.sh" name="give_goal" output="screen"/>
</launch>
